-extends "base.html"

-block content

  #add-lecturer-url
    %a.btn(href="#{url_for('add_lecturer')}") Add Lecturer

  %form(action="#{url_for('notify-students')}")
    %button.btn(type="submit")
      Notify students of surveys.

  %form(action="#{url_for('query')}", method="POST")

    %p
      Look for a:
      %input#value(syle="display:inline", type="text", \
      name="property_name", required="required", \
      placeholder="e.g. name")

      with value:

      %select(name="operator")
        %option(value="eq")
          equal to
        %option(value="lt")
          less than
        %option(value="gt")
          greater than

      %input#entity(style="display:inline", type="text", \
      name="property_value", required="required", \
      placeholder="e.g. Jimmy")

    %button.btn(type="submit")
      Search

  -if response and response != 'No results found'
    %a#download(href="#")
      Download Results
    %pre#content
      Hits: #{response|length}
      -for result in response
        Course Name: #{result.course.name}
        Lecturer Faculty: #{result.lecturer.faculty}
        Lecturer Department: #{result.lecturer.department}
        Lecturer Name: #{result.lecturer.name}
        Question Number: #{result.question_number}
        Response: #{result.response}
        Student Age: #{result.student.age}
        Student Gender: #{result.student.gender}
        Student Status: #{result.student.status}
        Student Year: #{result.student.year}
  -else
    %pre
      #{response}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>

    function downloadInnerHtml(filename, elId, mimeType) {
        var elHtml = document.getElementById(elId).innerHTML;
        var link = document.createElement('a');
        mimeType = mimeType || 'text/plain';

        link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click();
    }

    var fileName =  'results.txt';
    $('#download').click(function(){
        downloadInnerHtml(fileName, 'content','text/html');
    });
  </script>
