-extends "base.html"

-block content

  #add-lecturer-url
    %a.btn(href="#{url_for('add_lecturer')}") Add Lecturer

  %form(action="#{url_for('notify-students')}")
    %button.btn(type="submit")
      Notify students of surveys.

  %button.btn#plus
    + filter
  %button.btn#minus
    \- filter
  %form#queryform(action="#{url_for('query')}", method="POST")
    %fieldset
      %p.filter
        Look for a:
        %input.property_name(syle="display:inline", type="text", \
        name="property_name0", required="required", \
        placeholder="e.g response")

        with value:

        %select.operator(name="operator0")
          %option(value="eq")
            equal to
          %option(value="lt")
            less than
          %option(value="gt")
            greater than

        %input.property_value(style="display:inline", type="text", \
        name="property_value0", required="required", \
        placeholder="e.g. Jimmy")

    %button.btn(type="submit")
      Search

  #{request}

  -if response and response != 'No results found'
    %a#download(href="#")
      Download Results
    %pre#content
      Hits: #{response|length}
      -for result in response
        Course Name: #{result.course.name}
        Lecturer Faculty: #{result.lecturer.faculty}
        Lecturer Department: #{result.lecturer.department}
        Lecturer Name: #{result.lecturer.name}
        Question Number: #{result.question_number}
        Response: #{result.response}
        Student Age: #{result.student.age}
        Student Gender: #{result.student.gender}
        Student Status: #{result.student.status}
        Student Year: #{result.student.year}
  -else
    %pre
      #{response}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>
    var filter_count = 0;
    function downloadInnerHtml(filename, elId, mimeType) {
        var elHtml = document.getElementById(elId).innerHTML;
        var link = document.createElement('a');
        mimeType = mimeType || 'text/plain';

        link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click();
    }

    var fileName =  'results.txt';
    $('#download').click(function(){
        downloadInnerHtml(fileName, 'content','text/html');
    });

    $('#plus').click(function(){
      filter_count = filter_count + 1;
      $('fieldset:last').clone().insertAfter('fieldset:last');
      $('fieldset:last .property_name').attr("name","property_name" + filter_count);
      $('fieldset:last .operator').attr("name","operator"  + filter_count);
      $('fieldset:last .property_value').attr("name","property_value" + filter_count);
    });

    $('#minus').click(function(){
      if ($('fieldset').length != 1) {
        filter_count = filter_count - 1;
        $('fieldset:last').remove();
      }
    });

  </script>
