.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse", data-target="nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand(href="/") Lustro
      %div.nav-collapse
          %ul.nav
              -if current_user.user_type == 'student'
                %li
                  %a(href="{{ url_for('peerreview') }}")
                    Peer Review
              -if current_user.user_type == 'lecturer'
                -if school
                  %li
                    %a(href="#{url_for('school_overview', school_key=school.key.urlsafe())}")
                      #{school.name}
                -elif faculty
                  %li
                    %a(href="#{url_for('faculty_overview', faculty_key=faculty.key.urlsafe())}")
                      #{faculty.name}
                -elif department
                  %li
                    %a(href="#{url_for('department_overview', department_key=department.key.urlsafe())}")
                      #{department.name}
              %li
                %a(href="{{ url_for('logout') }}")
                  Logout
